<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Instruction of BEH Implement</title>
    <style>
        body {
            background-color: black;
            color: white;
            margin: 0 0;
            padding: 20px 20px;
        }

        h1 {
            color: red;
            margin: 0 0;
            padding: 0 0;
        }

        pre {
            background-color: white;
            padding: 10px 10px;
        }
    </style>
</head>

<body style="width: 800px">
<div>
    <h1>Apparently your server is not configured properly.</h1><br>
    It has been detected that there is no .htaccess file in your server root directory<br>
    please include a .htaccess file in your root directory with this content:
    <pre>{config}</pre>

</div>
</body>

</html>
